@model ASPnetCF_FizzBuzz.Models.FizzBuzz


<div class="container mt-4">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col col-lg-4 border-2 border-end">
            <h1 class="appName border-2 border-bottom">Fizz und Buzz</h1>
            <h4 class="lead">
                Mit dieser App können Benutzer in Live-Action sehen, wie eine Website funktioniert, die C# als Backend-Programmiersprache verwendet.
            </h4>
            <h2 class="mt-5 border-2 border-bottom">Anweisungen:</h2>
            <p class="pColor">Geben Sie einen Start- und Endwert in das dafür vorgesehene Feld ein und klicken Sie dann auf die Schaltfläche „Ausführen“.</p>
        </div>
        <div class="col col-lg-8">
            <div class="row">
                <div>
                    <h5>Geben Sie Zahlen ein</h5>
                    @*Form goes here*@
                    <form asp-action="FBPage" asp-controller="Home" method="post" class="row gy-2 gx-3">
                        <div class="col">
                            <label asp-for="FizzNum">Fizz number</label>
                            <input type="number" asp-for="FizzNum" class="form-control" value="@Model.FizzNum" placeholder="Enter number" />
                        </div>

                        <div class="col">
                            <label asp-for="BuzzNum">Buzz number</label>
                            <input type="number" asp-for="BuzzNum" class="form-control" value="@Model.BuzzNum" placeholder="Enter number" />
                        </div>

                        <div class="col-12 d-flex align-items-center justify-content-start justify-content-lg-end">
                            <button type="submit" class=" btn btn-danger btn-lg">
                                Ausführen
                            </button>
                        </div>
                    </form>
                    <h2 class="mt-5 border-bottom border-2">Ergebnisse</h2>
                    <div class="table-responsive">
                        @*Table goes here*@

                        @if(@Model.Records.Count > 0)
                        {
                            <table class="table-striped table table-dark">
                                <thead>
                                    <tr><th colspan="5">FizzBuzz Ergebnisse</th></tr>
                                </thead>
                                @for (int i = 0; i < Model.Records.Count(); i+=5)
                                {
                                    <tr><td>@Model.Records[i]</td><td>@Model.Records[i + 1]</td><td>@Model.Records[i + 2]</td><td>@Model.Records[i + 3]</td><td>@Model.Records[i + 4]</td></tr>
                                }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>